@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #F9F9F9;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

i.icon-info {
  background: url('../assets/images/icon-info.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
}
i.icon-arrow {
  background: url('../assets/images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
}
strong {
  font-weight: 700;
}

.page-wrapper {
  background-image: url('../assets/images/food-on-table.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 30px 0;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
.page-wrapper:before, .page-wrapper:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
}
.page-wrapper:after {
  background: rgba(255,255,255,.25);
}

.header-top {
  background: #00A9DD;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.header-top p {
  display: flex;
  align-items: center;
}
.header-top i {
  margin-right: 10px;
}
.header-bottom {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0078b3;
  padding: 0 15px;
}
.menu {
  position: relative;
  cursor: pointer;
  padding-right: 30px;
}
.menu > span {
  font-weight: 700;
}
.menu-lines span {
  position: absolute;
  background: #ffffff;
  width: 22px;
  border-radius: 1px;
  height: 2px;
  top: 0;
  right: 0;
}
.menu-lines span:nth-child(1) {
  top: 3px;
}
.menu-lines span:nth-child(2) {
  top: 8px;
}
.menu-lines span:nth-child(3) {
  top: 13px;
}
.header-logo {
  display: flex;
  width: 190px;
}
.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  width: 640px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.main-content * {
  z-index: 2;
}

.main-content h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px;
}
.main-content__logo {
  margin-bottom: 15px;
}
.main-content__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  width: 340px;
  height: 44px;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 6px;
  padding: 10px 15px;
}
.btn-orange {
  background: #f59d24;
  margin-bottom: 15px;
}
.btn-blue {
  background: #0078b3;
}
.btn i {
  transition: all .3s ease-in-out;
}
.btn:hover i {
  transform: translate(5px, 0);
}
.subscribe {
  width: 700px;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  border-radius: 8px;
  z-index: 2;
  display: flex;
  margin: auto;
  overflow: hidden;
}
.subscribe-content {
  z-index: 2;
  width: 70%;
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
}
.subscribe h2 {
  font-size: 32px;
  color: #333333;
  margin-bottom: 10px;
}
.subscribe p {
  color: #333333;
  margin-bottom: 10px;
}
.subscribe .form-group {
  position: relative;
  width: 85%;
}
.subscribe .form-group button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 120px;
  background: #00a9da;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.subscribe .form-group button:hover {
  background: #0095c0;
}
.subscribe .form-group input {
  width: 100%;
  height: 44px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  outline: none;
} 
.subscribe .form-group input:focus {
  border-color: #00a9da;
  box-shadow: 2px 2px 4px #c1f1ff;
}
.subscribe-qr {
  width: 30%;
  z-index: 2;
}
.subscribe-qr img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.subscribe-form {
  margin-top: auto;
}
.subscribe-helper {
  color: #9A9A9A;
}
.subscribe-helper span {
  position: relative;
  color: #9A9A9A;
  margin: 0 30px;
}
.subscribe-helper span:before, .subscribe-helper span:after {
  content: '';
  background: #9A9A9A;
  width: 8px;
  height: 1px;
  position: absolute;
  left: -12px;
  top: 50%;
}
.subscribe-helper span:after {
  left: unset;
  right: -12px;
}
.footer {
  position: relative;
  background-color: #0078b3;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer:before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #00a9da;
}

@media (max-width: 767px) {
  .header-top p, .footer p {
    font-size: 14px;
  }
  .btn {
    width: 320px;
  }
  .main-content {
    width: 100%;
  }
  .main-content h1 {
    font-size: 35px;
  }
  .subscribe {
    width: 96%;
  }
  .subscribe h2 {
    font-size: 26px;
  }
  .subscribe .form-group {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .page-wrapper {
    padding-bottom: 0;
  }
  .main-content {
    margin: auto;
  }
  .subscribe {
    display: none;
  }
}